.DS_Store
appsettings.json

*.sln

/bin
/obj
/.vs
/.vscode

/Banking/bin
/Banking/obj
/Banking/.vs
/BankingAdmin/bin
/BankingAdmin/obj
/BankingAdmin/.vs
/BankingLib/bin
/BankingLib/obj
/BankingLib/.vs
