<h1>Transaction History</h1>

<p *ngIf="!historyList"><em>Loading...</em></p>

<form #formDir="ngForm" [formGroup]="transactionHistoryForm" (ngSubmit)="search()">
    <table class="table" *ngIf="searchList">
        <thead>
            <tr>
                <td>User ID</td>
                <td>Account Type</td>
                <td>Date</td>
                <td>Amount</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let search of searchList">
                <td>
                    <div class="col-md-4">
                    <input class="form-control" type="number" formControlName="TransactionID"> </div>
                </td>
                <td>
                    <div class="col-md-4">
                    <input class="form-control" type="number" formControlName="AccountNumber">    
                    </div>
                </td>
            <!--<td><ejs-daterangepicker id='daterangepicker' placeholder='Select a range' [startDate]='start' [endDate]='end'></ejs-daterangepicker></td>-->
                
                <td>
                    <div class="col-md-4">
                        <input class="form-control" type="number" formControlName="Amount">
                        to <input class="form-control" type="number" formControlName="Amount">
                    </div>
                </td>

            </tr>
        </tbody>
    </table>

    


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
        <button (click)="cancel()" class="btn btn-light ml-3">Cancel</button>
    </div>
    <!-- </div>-->
</form>






<p *ngIf="!historyList"><em>Loading...</em></p>


<table class="table" *ngIf="historyList">
    <thead>
        <tr>
            <td>Transaction ID</td>
            <td>Modify Date</td>
            <td>Transaction Type</td>
            <td>Account Number</td>
            <td>Destination Account Number</td>
            <td>Amount</td>
            <td>Comment</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let history of historyList">
            <td>{{history.transactionID}}</td>
            <td>{{history.modifyDate}}</td>
            <td>{{history.transactionType}}</td>
            <td>{{history.accountNumber}}</td>
            <td>{{history.destAccountNumber}}</td>
            <td>{{history.amount}}</td>
            <td>{{history.comment}}</td>

        </tr>
    </tbody>
</table>

<div class="form-group">
    <button type="submit" class="btn btn-primary">Bar Chart</button>
    <button type="submit" class="btn btn-primary">Pie Chart</button>
    <button type="submit" class="btn btn-primary">Line Chart</button>
</div>