<h1>Customers</h1>

<p *ngIf="!customerList"><em>Loading...</em></p>

<form #formDir="ngForm" [formGroup]="customerIdForm" (ngSubmit)="search()">
    <div class="form-group row">
      <label class="col-form-label col-sm-auto">Customer ID</label>
      <div class="col-sm-auto">
        <input type="number" formControlName="customerId" class="form-control"/>
      </div>
      <div class="text-danger" *ngIf="customerId.invalid && formDir.submitted">
        <div *ngIf="customerId.errors.max || customerId.errors.min">
          Must be exactly 4 digits long.
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

<table class="table" *ngIf="customerList">
  <thead>
    <tr>
      <td>ID</td>
      <td>Name</td>
      <td>Address</td>
      <td>State</td>
      <td>City</td>
      <td>Postcode</td>
      <td>Phone</td>
      <td>TFN</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let customer of customerList">
      <td>{{customer.customerID}}</td>
      <td>{{customer.name}}</td>
      <td>{{customer.address}}</td>      
      <td>{{customer.state}}</td>
      <td>{{customer.city}}</td>
      <td>{{customer.postCode}}</td>
      <td>{{customer.phone}}</td>
      <td>{{customer.tfn}}</td>
      <td>
        <a [routerLink]="['/fetch-customer-detail/', customer.customerID]">Detail</a>
      </td>
    </tr>
  </tbody>
</table>