<h1>Transactions</h1>

<table class="table" *ngIf="transactionList">
    <thead>
      <tr>
        <td>ID</td>
        <td>Type</td>
        <td>Account</td>
        <td>Destination Account</td>
        <td>Amount</td>
        <td>Comment</td>
        <td>Last Modified Date</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaction of transactionList">
        <td>{{transaction.transactionID}}</td>
        <td>{{transaction.transactionType}}</td>
        <td>{{transaction.accountNumber}}</td>
        <td>{{transaction.destAccountNumber}}</td>
        <td>{{transaction.amount}}</td>
        <td>{{transaction.comment}}</td>
        <td>{{transaction.modifyDate}}</td>
      </tr>
    </tbody>
  </table>