@model ErrorViewModel
@*For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860*@

@{
    ViewData["Title"] = "Error408";
}
    <div class="text-center">
        <h1 class="text-danger">Error.</h1>
        <h2 class="text-danger">The server timed out waiting for the request.</h2>

        <h3>Request Time-out.</h3>
        <p>
            HTTP ERROR <strong>408</strong> .
        </p>

        <p>
            Your browser didn't send a complete request in time.
        </p>
    </div>