@model ErrorViewModel
@{
    ViewData["Title"] = $"Error {Model.Code}";
}

<h1 class="text-danger">@Model.Name</h1>
<span><strong>Error Code @Model.Code</strong></span>
<h2 class="p-4">@Model.Message</h2>