@model ErrorViewModel
@*For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860*@

@{
    ViewData["Title"] = "Error401";
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Your Authorization Failed.</h2>



<h3>Unauthorized.</h3>
<p>
    HTTP ERROR <strong>401</strong> .
</p>
<p>
    Please fill in correct login details.
    
</p>